/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Rubik&family=Source+Code+Pro:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Source+Code+Pro:ital,wght@0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: gray;
    width: 200px;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

.sidebar nav{
    padding: 50px;
    font-size: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding : 25px 0;

}

.sidebar nav li a{
text-decoration: none;
color:white;

}

.infocontainer{
    display: flex;
    padding: 10px;
    /* background-color: rgb(105, 18, 18); */
    height: 40vh;
    width: 80vw;
    margin: 120px auto;
    justify-content: space-around;
}
.main{
    /* background-color: rgb(21, 255, 0); */
    width: 90vw;
    height :100vh;
}

.container{
    display: flex;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 40px;
    color: black;

}

.name{

    font-size: 35px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: black;
    margin-top: 10px;
    /* font-family: 'Edu NSW ACT Foundation'; */

}

.about{
    margin-top: 10px;

    font-size: 30px;
    color: black;

}
.buttons{
    margin-top: 30px;

    
   
}

.buttons button{
    
    padding: 9px 14px;
    background-color: gray;
    color :white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 9px;
    cursor: pointer;
    

}

.buttons button:hover{
    
    background-color:white;
    color :gray;
}

.devpic img{
    width: 40vh;
}

.contactform{
    
}